ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1296px;
  margin-inline: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 72px;
  z-index: 2;
  background-color: #10bbd5;
}

.subheader {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
  min-height: 32px;
  z-index: 1;
  background-color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-block: 22px;
  background-color: #10bbd5;
}

.header-basket {
  display: flex;
  align-items: center;
}

.header-basket-amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin: 0;
  margin-right: 9px;
}

.header-basket-btn {
  background-image: url("../images/icons/basket.svg");
  background-color: #10bbd5;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  margin: 0;
  margin-right: 9px;
  object-fit: contain;
}

.header-logo-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #f8fdfe;
}

.subheader-content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-block: 4px;
  margin: 0;
}

.subheader-sort-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.subheader-sort-select {
  appearance: none;
  border: none;
}

.subheader-menu-list {
  display: flex;
  gap: 40px;
}

.subheader-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.main {
  margin-top: 114px;
  background-color: #eeeeef;
  padding-block: 32px 120px;
}

.main-title {
  padding-bottom: 23px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #1f1f1f;
  border-bottom: 1px solid #a8a8a8;
}

.main-chat {
  position: fixed;
  border: none;
  background: none;
  left: 87%;
  top: 84%;
}

.main-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.main-product-card {
  background-color: #f8fdfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a8a8a8;
}

.main-product-figure {
  margin: 0;
  position: relative;
}

.main-product-deals {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 32px;
}

.main-product-deal {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  padding: 4px 8px;
  border-radius: 4px;
}

.deal-invisible {
  display: none;
}

.hit-deal {
  background-color: #4200ff;
}

.off-deal {
  background-color: #ea33c0;
}

.new-deal {
  background-color: #af39e7;
}

.main-product-image {
  margin-inline: 32px;
  margin-block: 32px 16px;
}

.main-product-name {
  max-width: 242px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  border-bottom: 1px solid #a8a8a8;
}

.main-product-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;
  margin: 0;
  margin-bottom: 8px;
}

.main-product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #e90000;
  margin: 0;
}

.product-price-old {
  margin: 0;
  margin-left: 24px;
  text-decoration: line-through;
  color: #8e8e8e;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
}

.main-product-btn {
  padding: 8px 75px;
  background-color: #4c394e;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin-block: 16px 32px;
  cursor: pointer;
}

.product-btn-accent {
  background-color: #4d762d;
  min-width: 242px;
  cursor: pointer;
}

.footer {
  background-color: #4c394e;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-block: 32px;
}

.footer-content-rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin: 0;
}
