ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1296px;
  margin-inline: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 72px;
  z-index: 2;
  background-color: #10bbd5;
}

.subheader {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
  min-height: 32px;
  z-index: 1;
  background-color: #fff;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-block: 22px;
  background-color: #10bbd5;
}

.header__basket {
  display: flex;
  align-items: center;
}

.header__basket-amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin: 0;
  margin-right: 9px;
}

.header__basket-btn {
  background-image: url("../images/icons/basket.svg");
  background-color: #10bbd5;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-icon {
  margin: 0;
  margin-right: 9px;
  object-fit: contain;
}

.header__logo-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #f8fdfe;
}

.subheader__content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-block: 4px;
  margin: 0;
}

.subheader__sort-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.subheader__sort-select {
  appearance: none;
  border: none;
}

.subheader__menu-list {
  display: flex;
  gap: 40px;
}

.subheader__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.main {
  margin-top: 114px;
  background-color: #eeeeef;
  padding-block: 32px 120px;
}

.main__title {
  padding-bottom: 23px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #1f1f1f;
  border-bottom: 1px solid #a8a8a8;
}

.main__chat {
  position: fixed;
  border: none;
  background: none;
  left: 87%;
  top: 84%;
}

.main__product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.main__product-card {
  background-color: #f8fdfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a8a8a8;
}

.main__product-figure {
  margin: 0;
  position: relative;
}

.main__product-deals {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 32px;
}

.main__product-deal {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  padding: 4px 8px;
  border-radius: 4px;

  &--invisible {
    display: none;
  }

  &--hit {
    background-color: #4200ff;
  }

  &--off {
    background-color: #ea33c0;
  }

  &--new {
    background-color: #af39e7;
  }
}

.main__product-image {
  margin-inline: 32px;
  margin-block: 32px 16px;
}

.main__product-name {
  max-width: 242px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  border-bottom: 1px solid #a8a8a8;
}

.main__product-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;
  margin: 0;
  margin-bottom: 8px;
}

.main__product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #e90000;
  margin: 0;

  &--old {
    margin: 0;
    margin-left: 24px;
    text-decoration: line-through;
    color: #8e8e8e;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
  }
}

.main__product-btn {
  padding: 8px 75px;
  background-color: #4c394e;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin-block: 16px 32px;
  cursor: pointer;

  &--accent {
    background-color: #4d762d;
    min-width: 242px;
    cursor: pointer;
  }
}

.footer {
  background-color: #4c394e;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-block: 32px;
}

.footer__content-rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin: 0;
}
